/.idea
/.ipynb_checkpoints
/__pychache
/animations/old/
/animations/TOI-4504.fit2.mp4
/evaluation/rebound.html
/research/star_systems/TOI-4504/lightkurve/too large/
/results/debug/
/src/build/
/src/curvesimulator/__pychache
/src/curvesimulator.egg-info/
/src/dist/
/src/MyFirstVideo.mp4
/src/residual.tmp
/src/iteration.tmp
/src/*.h5
